
%h1 Listing tasks


%table.table
  %tr
    %th Query
    %th Content
    %th 
  - @tasks.each do |task|
    %tr
      %td= task.query
      %td= task.content
      %td= link_to 'Show', task, class: 'btn btn-sm btn-success'
