<b>Student:</b><br>
<%= User.find(@student).firstname + ' ' + User.find(test.user_id).lastname %>

<h3>Lista odpowiedzi</h3>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pytanie</th>
      <th>Odpowiedz studenta</th>

    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answers| %>
      <tr>
        <td><%= answers.question_id %></td>
        <td><%= Question.find(answers.question_id).content %></td>
        <td><%= answers.answer %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>


