<p id="notice"><%= notice %></p>
<center>
<div class="alert alert-success">
<h1>
Twoje odpowiedzi zostały zapisane i przekazane prowadzącemu zajęcia.


</div>
<br><br><br><br>

</h1>

<br>
<h2>Uzyskana liczba punktów: <%= @points %>  
<br>
Twoja ocena: <%= @mark %>  

</h2>
<br><br>
<%=link_to 'Wróć do listy testów', tests_path, class: "btn btn-primary"%>
</center>
