<div class="row">
<div class="col-lg-3">
<br><br>

Nazwa<br>
Komentarz<br>
Adapter<br>
Kodowanie<br>
Host<br>
Pool<br>
Użytkownik<br>
Hasło<br>
Baza<br>
Schemat<br>

</div>
<div class="col-lg-9">
= render 'form'


