<div class="row">
<div class="col-lg-3">

<b>Nazwa</b><br>
Nazwa bazy danych reprezwntowana na liście dostępnych baz.
<br><br>
<b>Komentarz</b><br>
Krótki opis bazy danych.
<br><br>
<b>Adapter</b><br>
Wykorzystany typ bazy danych mysql/postgresql.
<br><br>
<b>Kodowanie</b><br>
Kodowanie z którego kożysta baza danych.
<br><br>
<b>Host</b><br>
Adres bazy danych.
<br><br>
<b>Użytkownik</b><br>
Dane dostępowe do bazy.
<br><br>
<b>Hasło</b><br>
Dane dostępowe do bazy.
<br><br>
<b>Baza</b><br>
Nazwa bazy danych.
<br><br>
<b>Schemat</b><br>
Graficzny schemat bazy danych.
<br><br>

</div>
<div class="col-lg-9">
<h1>Nowe połączenie z bazą danych</h1>

= render 'form'

</div>



